body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #efefef;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#join .container #join-row #join-column #join-box {
  margin-top: 0px;
  max-width: 600px;
  height: 760px;
  border: 1px solid #efefef;
  background-color: #EAEAEA;
}
#join .container #join-row #join-column #join-box #joinForm {
  padding: 20px;
}
#join .container #join-row #join-column #join-box #joinForm #register-link {
  margin-top: -85px;
}

article {
	float: center;
	width: 680px;
	padding-right: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.5em; 
	/* 로그인 창이 중앙에 위치*/
	margin-top: 0px; 
	margin-right: auto; 
	margin-bottom: 0px; 
	margin-left: auto;
}

article p {
	padding-left: 10px;
}

article table#notice {
	width: 670px;
	border-collapse: collapse;
	border-top: 1px solid #999;
}

article table#notice th {
	height: 20px;
	width: 70px;
	font-size: 12px; 
	font-weight: bold;
	padding: 5px; 
	color: #FFF;
	border-bottom: 1px dotted #999;
}

article table#notice td {
	text-align: left;
	padding: 6px 0;
	border-bottom: 1px dotted #999;
}

article table#notice tr:hover {
	background-color: #DDF;
	cursor: pointer;
	color: red;
}



#wrap {
	/*width: 1000px; /* 1024*768로 해상도를 맞추어서 설계 */
	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: green; /* 글 색상 */
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 13px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
}

table td,th {
	border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */
	padding: 5px; /* 안쪽 여백 */
}

th {
	background: #e6e6e6; /* 배경색 */
}

img {
	width: 220px; /* 이미지 너비(가로) */
	height: 300px; /* 이미지 높이(세로) */
}

a {
	text-decoration: none; /* 링크 밑줄 없애기 */
	color: black; /* 글 색상 */
}

a:HOVER {
	text-decoration: underline; /* 밑줄 */
	color: green; /* 글 색상 */
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

